<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
    <h1>{{.Header_1}}</h1>
    <img src="static/assets/images/bqa.jpg" alt="BQA Logo" style="width:364.5px; height:191.625px;">
    <form action="" method="get">
        <label for="usr_name">User Name</label>
        <input type="text" name="usr_name" id="usr_name"><br><br>
        <label for="use_password">Password</label>
        <input type="password" name="usr_password" id="usr_password"><br><br>
    </form>    
</body>
</html>